.before-container {
    position: absolute;
}

.before-container::before {
    content: '';
    width: 250px;
    height: 400px;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.15);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
}

.imageContainer {
    width: 250px;
    height: 200px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

img {
    margin: auto;
    object-fit: fill;
    max-width: 250px;
    max-height: 200px;
}

.book {
    color: black;
}

.title{
    margin: 1rem 0 0.8rem 0;
    position: relative;
    height: 48px;
    max-width: 250px;
    margin-left:50px;
    margin-right:50px;
}

.titleOverflow{
    overflow: auto;
}

h4{
    position: absolute;
    overflow:hidden;
    margin-left:20px;
    margin-right:20px;
    width: 100%;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    margin: auto;
}

h6,h5 {
    text-align: center;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

a {
    background: black;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    width: 40%;
    font-family: Bitter;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.5s;
}

a:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.9;
}