#container {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    background-color: rgba(255, 255, 255, .5);
    margin: 4rem 0 4rem 0;
    width: 1000px;
    color: black;
    border-radius: 20px;
    grid-template-areas:
        'div div'
        'div div';
    grid-template-columns: 500px;
    grid-template-rows: 550px auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px black solid;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

img {
    object-fit: contain;
    max-width: 500px;
    max-height: 430px;
}

.book {
    margin: 80px;
}

.book div {
    margin-bottom: 20px;
}

p:not(#description):not(.error) {
    display: inline-block;
    margin: 0;
    font-size: 1.5rem;
    white-space: nowrap;
    max-width: 230px;
    max-height: 50px;
    overflow: auto;
}

#description {
    max-width: 1000px;
    overflow: auto;
}

button,
a {
    display: block;
    font-family: Bitter;
    background: black;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    width: 300px;
    margin: 40px 0 0 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.5s;
}

.description-container {
    border: 2px black solid;
    width: 900px;
    margin: 50px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

h2 {
    text-align: center;
}

button:hover,
a:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.9;
}

input {
    border: none;
    outline: none;
    color: black;
    font-family: Bitter;
    background: rgba(255, 255, 255, .3);
    font-size: 1rem;
    margin-left: 20px;
    padding: 1rem 0 1rem 2rem;
    border-radius: 100px;
    width: 268px;
    transition: background-color .5s;
}

.error {
    font-size: 18px;
    color: rgb(200, 0, 0);
    font-style: italic;
    margin: 9px 0 0 25px;
    overflow: visible;
}

.error+button {
    margin-top: 9px;
}

@media only screen and (width < 1024px) {
    .container {
        width: 500px;
        grid-template-areas:
            'div'
            'div'
            'div';
        grid-template-rows: 550px auto auto;
    }

    .image-container {
        margin: 1rem 2rem;
        border: 2px black solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .book {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #description {
        max-width: 500px;
        overflow: auto;
    }

    .description-container {
        border: 2px black solid;
        width: 450px;
        margin: 25px;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
    }

    h2 {
        text-align: center;
    }
}

@media only screen and (width<715px) {
    .container {
        margin-top: 11rem;
    }
}

@media only screen and (width<500px) {
    .container {
        width: 100%;
        border-radius: 0;
        grid-template-columns: 100%;
    }

    .image-container {
        width: 100%;
        margin-left: 0;
    }

    .description-container {
        width: 100%;
        margin-left: 0;
    }

    img {
        object-fit: contain;
        max-width: 300px;
        max-height: 430px;
    }

    button,
    a,input {
        display: block;
        margin: 2rem auto;
        width: 100%;
    }
}