<form [formGroup]="registerForm" method="post" (ngSubmit)="registerHandler()">

    <fieldset>
        <h2>Register</h2>

        <div>
            <p class="icon"><i class="fa-regular fa-user"></i></p>
            <input type="text" formControlName="username" id="username" placeholder="Enter Username">
        </div>


        <ng-container *ngIf="registerForm.get('username')?.touched">
            <p *ngIf="registerForm.get('username')?.errors?.['required']" class="error">
                Username is required!
            </p>
            <p *ngIf="registerForm.get('username')?.errors?.['minlength']" class="error">
                Should be longer than 3 characters!
            </p>
        </ng-container>

        <div>
            <p class="icon"><i class="fa-regular fa-envelope"></i></p>
            <input type="email" formControlName="email" id="email" placeholder="Enter Email">
        </div>


        <ng-container *ngIf="registerForm.get('email')?.touched">
            <p class="error" *ngIf="registerForm.get('email')?.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="registerForm.get('email')?.errors?.['appEmailValidator']">
                Email is not valid!
            </p>
        </ng-container>

        <ng-container formGroupName="pass">

            <div>
                <p class="icon"><i class="fa-solid fa-lock"></i></p>
                <input type="password" formControlName="password" id="password" placeholder="Enter Password">
            </div>

            <ng-container *ngIf="registerForm.get('pass')?.get('password')?.touched">
                <p class="error" *ngIf="registerForm.get('pass')?.get('password')?.errors?.['required']">
                    Password is required!
                </p>
                <p class="error" *ngIf="registerForm.get('pass')?.get('password')?.errors?.['minlength']">
                    Password must be at least 6 characters!
                </p>
            </ng-container>

            <div>
                <p class="icon"><i class="fa-solid fa-lock"></i></p>
                <input type="password" formControlName="rePassword" id="rePassword" placeholder="Repeat Password">
            </div>


            <p *ngIf="registerForm.get('pass')?.errors?.['sameValueGroupValidator'] 
            && registerForm.get('pass')?.get('rePassword')?.touched" class="error">
                Password missmatch!
            </p>
        </ng-container>
        <button [disabled]="registerForm.invalid">Create Account</button>

        <p class="question">
            Already have an account?
            <a routerLink="/login">Log In</a>
        </p>

    </fieldset>
</form>