<div class="all-books-container">
    <h1>All books</h1>
    <div *ngFor="let book of allBooks" class="detail-container">
        <div class="before-container">
            <div class="imageContainer">
                <img src={{book.imageUrl}} />
            </div>
            <div class="book">
                <div class="title">
                    <h4>{{book.title}}</h4>
                </div>
                <h5>Price: {{book.price}}$</h5>
            </div>
            <div class="button-container">
                <a [routerLink]="['/all-books',book._id]">Details</a>
            </div>
        </div>
    </div>
</div>