#welcome-container {
    width: 1038px;
    position: absolute;
    right: 50%;
    margin-top: 4rem;
    transform: translate(50%);
    background-color: rgba(255, 255, 255, .2);
    border-radius: 20px;
}

h1,
h2 {
    text-align: center;
    margin: 2rem 0 0 0;
    color: black;
}

.content {
    display: inline-block;
    margin: 3rem;
    width: 250px;
    height: 400px;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 10px;
}

a {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    color: black;
    text-decoration: none;
    background: black;
    color: white;
    font-size: 1rem;
    width: 250px;
    padding: 0.5rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.5s;
}

a:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.9;
}

@media only screen and (width<1038px) {
    #welcome-container {
        width: 692px;
    }
}

@media only screen and (width<692px) {
    #welcome-container {
        width: 346px;
    }
}