<form [formGroup]="editBookForm" method="post" (ngSubmit)="editBookHandler()">

    <fieldset>
        <h2>Edit Book</h2>
        <ng-container *ngIf="!next">
            <div>
                <p class="icon"><i class="fa-solid fa-book"></i></p>
                <input type="text" formControlName="title" placeholder="Enter Title">
            </div>


            <ng-container *ngIf="editBookForm.get('title')?.touched">
                <p *ngIf="editBookForm.get('title')?.errors?.['required']" class="error">
                    Title is required!
                </p>
                <p *ngIf="editBookForm.get('title')?.errors?.['minlength']" class="error">
                    Should be at least than 2 characters!
                </p>
                <p *ngIf="editBookForm.get('title')?.errors?.['maxlength']" class="error">
                    Should not be more than 40 characters!
                </p>
            </ng-container>

            <div>
                <p class="icon"><i class="fa-solid fa-pen-nib"></i></p>
                <input type="author" formControlName="author" placeholder="Enter Author">
            </div>

            <ng-container *ngIf="editBookForm.get('author')?.touched">
                <p class="error" *ngIf="editBookForm.get('author')?.errors?.['required']">
                    Author is required!
                </p>
                <p *ngIf="editBookForm.get('author')?.errors?.['minlength']" class="error">
                    Should be at least than 2 characters!
                </p>
                <p *ngIf="editBookForm.get('author')?.errors?.['maxlength']" class="error">
                    Should not be more than 20 characters!
                </p>
            </ng-container>

            <div>
                <p class="icon"><i class="fa-solid fa-language"></i></p>
                <input type="language" formControlName="language" placeholder="Enter Language">
            </div>

            <ng-container *ngIf="editBookForm.get('language')?.touched">
                <p class="error" *ngIf="editBookForm.get('language')?.errors?.['required']">
                    Language is required!
                </p>
                <p *ngIf="editBookForm.get('language')?.errors?.['minlength']" class="error">
                    Should be at least than 2 characters!
                </p>
                <p *ngIf="editBookForm.get('language')?.errors?.['maxlength']" class="error">
                    Should not be more than 20 characters!
                </p>
            </ng-container>

            <div>
                <p class="icon"><i class="fa-solid fa-quote-left"></i></p>
                <textarea id="description" type="text" formControlName="description"
                    placeholder="Enter Description"></textarea>
            </div>

            <ng-container *ngIf="editBookForm.get('description')?.touched">
                <p *ngIf="editBookForm.get('description')?.errors?.['minlength']" class="error">
                    Should be at least 50 characters!
                </p>
                <p *ngIf="editBookForm.get('description')?.errors?.['maxlength']" class="error">
                    Should not be more than 1000 characters!
                </p>
            </ng-container>

            <button (click)="nextHandler()">Next</button>
        </ng-container>

        <ng-container *ngIf="next">

            <div>
                <p class="icon"><i class="fa-solid fa-dollar-sign"></i></p>
                <input type="text" formControlName="price" placeholder="Enter Price In Dollars">
            </div>

            <ng-container *ngIf="editBookForm.get('price')?.touched">
                <p *ngIf="editBookForm.get('price')?.errors?.['strToNumValidator']" class="error">
                    Price must be a number!
                </p>
                <p *ngIf="editBookForm.get('price')?.errors?.['minNumberValidator']" class="error">
                    Price must be at least 1$!
                </p>
                <p *ngIf="editBookForm.get('price')?.errors?.['maxNumberValidator']" class="error">
                    Price must be less than 1000$!
                </p>
            </ng-container>

            <div>
                <p class="icon"><i class="fa-solid fa-dollar-sign"></i></p>
                <input type="text" formControlName="availability" placeholder="Enter Availability">
            </div>

            <ng-container *ngIf="editBookForm.get('availability')?.touched">
                <p *ngIf="editBookForm.get('availability')?.errors?.['strToNumValidator']" class="error">
                    Availability must be a whole number!
                </p>
                <p *ngIf="editBookForm.get('availability')?.errors?.['wholeNumValidator']" class="error">
                    Availability must be a whole number!
                </p>
                <p *ngIf="editBookForm.get('availability')?.errors?.['minNumberValidator']" class="error">
                    Availability must be at least 1!
                </p>
                <p *ngIf="editBookForm.get('availability')?.errors?.['maxNumberValidator']" class="error">
                    Availability must be less than 1000!
                </p>
            </ng-container>

            <div>
                <p class="icon"><i class="fa-solid fa-image"></i></p>
                <input type="text" formControlName="imageUrl" placeholder="Enter Image URL">
            </div>

            <ng-container *ngIf="editBookForm.get('imageUrl')?.touched">
                <p *ngIf="editBookForm.get('imageUrl')?.errors?.['required']" class="error">
                    Image URL is required!
                </p>
            </ng-container>

            <button id="previous" (click)="nextHandler()">Previous</button>

            <button [disabled]="editBookForm.invalid">Edit Book</button>
        </ng-container>

    </fieldset>
</form>