<header>
    <div>
        <a routerLink="/"> Home</a>
    </div>
    <nav>
        <ul *ngIf="isLoggedIn">
            <li>All Books</li>
            <li>
                <a routerLink="/add-book">Add Book</a>
            </li>
            <li>
                <a routerLink="/logout">Logout</a>
            </li>
        </ul>

        <ul *ngIf="!isLoggedIn">
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </nav>
</header>