<header>
    <nav>
        <ul *ngIf="isLoggedIn">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/all-books" routerLinkActive="active">All Books</a>
            </li>
            <li>
                <a routerLink="/add-book" routerLinkActive="active">Add Book</a>
            </li>
            <li>
                <a routerLink="/logout" routerLinkActive="active">Logout</a>
            </li>
        </ul>

        <ul *ngIf="!isLoggedIn">
            <li>
                <a routerLink="/home" routerLinkActive="active" >Home</a>
            </li>
            <li>
                <a routerLink="/all-books" routerLinkActive="active">All Books</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li>
                <a routerLink="/register" routerLinkActive="active">Register</a>
            </li>
        </ul>
    </nav>
</header>