header {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 3rem;
    border-bottom: 2px solid white;
}

.more {
    display: none;
}

ul {
    display: flex;
    margin: auto;
    height: 100%;
}

li {
    display: block;
    position: relative;
    margin: auto 2.5rem auto 0;
}

a {
    padding: 12.5px 10px;
    height: 100%;
    text-decoration: none;
    color: white;
}

.active::after,
a:hover::after,
.home-active:after {
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    bottom: -13px;
    right: 50%;
    transform: translate(50%);
}

@media only screen and (width<715px) {
    header ul {
        /* display: none; */
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .show{
        display: flex;
    }

    .noshow{
        display: none;
    }

    .more {
        display: block;
        margin: auto;
        background-color: black;
        color: white;
        height: 35px;
        width: 40px;
        margin-top: 7px;
        margin-bottom: 7px;
        font-size: 25px;
        border: 1px solid white;
        border-radius: 5px;
        transition: 0.5s;
    }

    .more:hover {
        cursor: pointer;
        background-color: white;
        color: black;

    }

    nav {
        width: 100%;
    }

    .active::after,
    a:hover::after,
    .home-active:after {
        content: '';
        border-left: none;
        border-right: none;
    }

    li {
        width: 100%;
        border-bottom: 1px solid white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 3px;
        background-color: black;
    }
}