header {
    display: flex;
    justify-content: space-between;
    background-color: #444444;
    height: 3rem;
    padding: 0 5rem 0 8rem
}

ul {
    display: flex;
    margin: auto;
    height: 100%;
}

div {
    padding: 12.5px 10px;
}

li {
    display: block;
    margin: auto 2.5rem auto 0;
}

a {
    padding: 12.5px 10px;
    height: 100%;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: #444444;
}