header {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 3rem;
    border-bottom: 2px solid white;
}

ul {
    display: flex;
    margin: auto;
    height: 100%;
}

li {
    display: block;
    position: relative;
    margin: auto 2.5rem auto 0;
}

a {
    padding: 12.5px 10px;
    height: 100%;
    text-decoration: none;
    color: white;
}

.active::after,
a:hover::after,
.home-active:after
{
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    bottom: -13px;
    right: 50%;
    transform: translate(50%);
}